@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  padding: 10px;
  font-family: Concert One;
}
header nav{
  border-bottom: 1px solid #ff9f9f;
  height: 55px;
}

header li{
  display: inline-block;
  list-style: none;
}

header img{
  padding-right: 50px;
  padding-top: 10px;
}

header a{
  background: none rgba(255, 255, 255, 0.4);
  text-decoration: none;
  color: #FFF;
  border-radius: 5px;
  padding: 10px;
}

button{/*-aplica por padrão a margin em todas tags input-*/
    border:none;
    margin:0 1em 0 0;
 }


body {
  width: 100%;
  height: 100vh;
  background-color: #FFF;
  display: flex;
}
.container{
  width: 100%;
  padding-top: 30px;
  padding: 50px;
  background: linear-gradient(90deg, rgba(154,32,10,1) 0%, rgba(243,33,0,1) 100%);
}
main {
  padding: 1em;
  margin-left: 50%;
  padding-right: 50%;
  margin-top: -25px;
  width: 400px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
}


h1 {
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  color: #FFF;
  font-family: Concert One;
  padding-top: 10px;
}

.timespace {
  display: flex;
  flex-direction: row;
  justify-content: center;
   color: #FFF;
   font-family: Comfortaa;
}

.focus {
  max-width: 50px;
  height: 40px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  
}

p {
  font-size: 3.5em;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em .6em 1em .6em;
  border-radius: 1em;
  border: none;
  background-color: #FFF;
  color: #000;
  font-weight: bold;
  opacity: 1;
  font-size: 1em;
  transition: transform 0.2s;
  
  font-family: Comfortaa;
}

button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

button:focus {
  outline: 0;
}
#login{
  text-decoration: none;
  color: #FFF;
  font-family: Concert One;
  text-align: center;
}

/**---------------------------------*/
.content{
  padding: 50px;
}

.content p{
  font-size: 15px;
  font-family: Comfortaa;
}
.title-content{
  font-family: Concert One;
}

.features{
  display: flex;
  justify-content: space-around;
  font-family: Comfortaa;
  

}
.features .card{
  padding: 30px;
}

.features .card img{
  align-content: center;
}

.features .card h2{
  display: flex;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "titulo titulo titulo"
    "area1 area2 area3"
    "area4 area5 area6";
}

.titulo { grid-area: titulo; padding-top: 90px; text-align: center; }

.area1 { grid-area: area1; }

.area2 { grid-area: area2; }

.area3 { grid-area: area3; }

.area4 { grid-area: area4; }

.area5 { grid-area: area5; }

.area6 { grid-area: area6; }

#titulo{
  font-size: 40px;
}
#titulo2{
  text-align: center;
}
.grid-container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "ladoesquerdo ladodireito";
  font-family: Comfortaa;
}

.ladoesquerdo { grid-area: ladoesquerdo; padding: 70px; padding-top: 130px;}

.ladodireito { grid-area: ladodireito; padding: 50px;}

#up-focus{width: 70px;}

#down-focus{width: 70px; margin-left: 25px;}

#up-break{width: 70px;}

#down-break{width: 70px; margin-left: 25px;}
