@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{/*-aplica por padrão a margin em todas tags input-*/
    border:none;
    margin:0 1em 0 0;
 }


body {
  width: 100%;
  height: 100vh;
  background-color: #FFF;
  display: flex;
}
.container{
  padding-top: 30px;
  padding: 50px;
}
main {
  padding: 1em;
  margin-left: 25%;
  margin-top: -25px;
  width: min(90vw, 800px);
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 30px;
  background: linear-gradient(90deg, rgba(154,32,10,1) 0%, rgba(243,33,0,1) 100%);
}


h1 {
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  color: #FFF;
  font-family: Concert One;
}

.timespace {
  display: flex;
  flex-direction: row;
  justify-content: center;
   color: #FFF;
   font-family: Comfortaa;
}

.focus {
  max-width: 50px;
  height: 40px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  
}

p {
  font-size: 3.5em;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em .6em 1em .6em;
  border-radius: 1em;
  border: none;
  background-color: #FFF;
  color: #000;
  font-weight: bold;
  opacity: 1;
  font-size: 1em;
  transition: transform 0.2s;
  
  font-family: Comfortaa;
}

button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

button:focus {
  outline: 0;
}
#login{
  text-decoration: none;
  color: #FFF;
  font-family: Concert One;;
}

/*---------------------------------------------*/

.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
margin: 7px;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
background-color: #282727;
border-right:1px solid #e5e5e5;
position:absolute;
top:0;
bottom:0;
height:100%;
left:0;
width:70px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
position: fixed;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
font-family: Comfortaa;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
font-family: Comfortaa;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#000;
background-color:#FFF;
}



@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
/**---------------------------------*/
.content{
  padding-left: 200px;
  padding-top: 70px;
  margin-left: 15%;
}

.text-content{
  width: 20px;
}
.title-content{
  font-family: Concert One;
}