@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header{
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  padding: 10px;
  font-family: Concert One;
}

header nav{
  border-bottom: 1px solid #ff9f9f;
  height: 90px;

}

header li{
  display: inline-block;
  list-style: none;
}

header img{
  margin-bottom: 15px;
  margin-left: 15px;
}

header a{
  background: none rgba(255, 255, 255, 0.4);
  text-decoration: none;
  color: #FFF;
  border-radius: 5px;
  padding: 10px;
}

/*-aplica por padrão a margin em todas tags input-*/

button{
    border:none;
    margin:0 1em 0 0;
 }


body {
  width: 100%;
  height: 100vh;
  background-color: #FFF;
  display: flex;
}
.container{
  width: 100%;
  padding-top: 30px;
  padding: 50px;
  background: linear-gradient(90deg, rgba(154,32,10,1) 0%, rgba(243,33,0,1) 100%);
}
main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
}


h1 {
  font-weight: bold;
  font-size: 2.5em;
  text-align: center;
  color: #FFF;
  font-family: Concert One;
  margin-top: 20px;
  
}

.timespace {
  display: flex;
  flex-direction: row;
  justify-content: center;
   color: #FFF;
   font-family: Comfortaa;
}

.timespace2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
   color: #FFF;
   font-family: Comfortaa;
   margin-top: -70px;
}


.focus {
  max-width: 50px;
  height: 40px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-top: -80px;
  
}


p {
  font-size: 3.5em;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em .6em 1em .6em;
  border-radius: 1em;
  border: none;
  background-color: #FFF;
  color: #000;
  font-weight: bold;
  opacity: 1;
  font-size: 1em;
  transition: transform 0.2s;
  
  font-family: Comfortaa;
}

button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

button:focus {
  outline: 0;
}
#login{
  text-decoration: none;
  color: #FFF;
  font-family: Concert One;
  margin: -60px;
}

/**ENCERRA A <MAIN>*/


/**Aumenta área interna dos botões*/
#up-focus{width: 70px;}

#down-focus{width: 70px; margin-left: 25px;}

#up-break{width: 70px;}

#down-break{width: 70px; margin-left: 25px;}
